@mixin FlexBox($direction: row, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

$white: #ffffff;
$off-white: #f6f6f6;
$grey1: #888888;
$grey2: #bbbbbb;
$grey3: #d7d7d7;
$title-active: #222222;
$blue: #0055fb;
$red: #f45452;
$primary: #ffc700;
$primary-dark: #e8a20c;
$plus: #69a64c;

/* noto-sans-kr-100 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/noto-sans-kr-v21-latin_korean-100.eot');
  src: local(''), url('../fonts/noto-sans-kr-v21-latin_korean-100.eot') format('embedded-opentype'),
    url('../fonts/noto-sans-kr-v21-latin_korean-100.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v21-latin_korean-100.woff') format('woff');
  unicode-range: U+000-5FF, U+AC00-D7AF;
  font-display: fallback;
}
/* noto-sans-kr-300 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/noto-sans-kr-v21-latin_korean-300.eot');
  src: local(''), url('../fonts/noto-sans-kr-v21-latin_korean-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/noto-sans-kr-v21-latin_korean-300.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v21-latin_korean-300.woff') format('woff');
  unicode-range: U+000-5FF, U+AC00-D7AF;
  font-display: fallback;
}
/* noto-sans-kr-500 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/noto-sans-kr-v21-latin_korean-500.eot');
  src: local(''), url('../fonts/noto-sans-kr-v21-latin_korean-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/noto-sans-kr-v21-latin_korean-500.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v21-latin_korean-500.woff') format('woff');
  unicode-range: U+000-5FF, U+AC00-D7AF;
  font-display: fallback;
}
/* noto-sans-kr-regular - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-kr-v21-latin_korean-regular.eot');
  src: local(''), url('../fonts/noto-sans-kr-v21-latin_korean-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/noto-sans-kr-v21-latin_korean-regular.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v21-latin_korean-regular.woff') format('woff');
  unicode-range: U+000-5FF, U+AC00-D7AF;
  font-display: fallback;
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-kr-v21-latin_korean-700.eot');
  src: local(''), url('../fonts/noto-sans-kr-v21-latin_korean-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/noto-sans-kr-v21-latin_korean-700.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v21-latin_korean-700.woff') format('woff');
  unicode-range: U+000-5FF, U+AC00-D7AF;
  font-display: fallback;
}
/* noto-sans-kr-900 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/noto-sans-kr-v21-latin_korean-900.eot');
  src: local(''), url('../fonts/noto-sans-kr-v21-latin_korean-900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/noto-sans-kr-v21-latin_korean-900.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v21-latin_korean-900.woff') format('woff');
  unicode-range: U+000-5FF, U+AC00-D7AF;
  font-display: fallback;
}
